# Dependencies
node_modules/

# Environment & Configuration Files
.env
.env.local
.env.production
backend/.env.local
samconfig.toml
backend/samconfig.toml

# Build & SAM Output
dist/
build/
.aws-sam/
